@font-face {
    font-family: "PrimeTime";
    src: url(../font/PrimetimeRegular-vOL9.ttf);
}

body {
    background-color: #85d2fc69;
}

h1 {
    color: #2C3034;
    font-family: PrimeTime;
    text-shadow: 2px 2px #fff;
}

h2 {
    color: #2C3034;
    font-family: PrimeTime;
    text-shadow: 2px 2px #fff;
}

