@font-face {
    font-family: "PrimeTime";
    src: url(../font/PrimetimeRegular-vOL9.ttf);
}

body {
    background-color: #eee;
}

h1 {
    color: #2C3034;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

h2 {
    color: #2C3034;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold
}

